/********************
YOUR STYLES
*******************/



body {
  margin: 10px;
}

/* Button Styles */

button {
	display: block;
	  border: 0 none;
	  border-radius: 2px 2px 2px 2px;
	  color: #fff;
	  background: none repeat scroll 0 0 #3388dd;
	  cursor: pointer;
	  display: inline;
	  font-size: 12px;
	  line-height: 20px;
	  padding: 10px;
	  text-transform: none;
	  transition: all 0.3s ease 0s;
	  -moz-transition: all 0.3s ease 0s;
	  -webkit-transition: all 0.3s ease 0s;
	  text-align: center;
}
  
button:hover {
  background: none repeat scroll 0 0 #000;
  color: #FFFFFF;
}

/* Img */

.AR img {
	height: 400px;
	width: 600px;
}

.AR img:nth-child(7) {
	height: 600px;
	width: 400px;
}

.personal img {
	width: 400px;
	height: 600px;
	
}

.comm img {
	height: 600px;
	width: 400px;
}

/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}